*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
}
h1{
    background-color: rgb(56, 8, 100);
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
/* .choice{
    height: 200px;
    width: 10px;
} */
img{
    height: 170px;
    width: 160px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 50%;
}
img:hover{
    /* opacity: 0.5; */
    border: 5px solid black;
    cursor: pointer;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 50px;
    font-size: 2rem;
}
#user-score, #comp-score{
    font-size: 4rem;

}
.vote{
    text-align: center;
}
#msg{
    font-size: 3rem;
    background-color: black;
    color: white;
    margin-top: 5rem;
    display: inline;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;

}